/* #about {
  background-image: url("../../Images/calendar.jpg");
  height: 100vh;
  padding: 0px 24px;
  background-size: cover;
  background-position: center;
} */
* {
  font-family: 'Quicksand', sans-serif;
}

div.jumbotron {
  background-color: rgb(100, 180, 214);
  color: white;
}

h1 {
  text-shadow: 1px 2px 3px darkcyan;
}

h5, h6 {
  text-shadow: 1px 2px 3px gray;
}

#aboutJumbo {
  height: 80vh;
}
