.schedule {
    /* border: 2px dotted darkcyan; */
    background-color:white;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

h4:nth-child(2) {
    text-align: right;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    h4:nth-child(2) {
        text-align: center;
    }
}