#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgb(100, 180, 214);
    min-height: 20vh;
  }
.business{
  color: white;
  margin-top: 2em;
}
.links {
  display: block;
  text-align: right;
}
#contactUs {
  margin-bottom: 3rem;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  /* #footer {
    min-height: 30vh;
  } */
  .links{
    font-size: 0.85rem;
    text-align: center;
  }
  #emailLink {
    margin-top: -1.5rem;
  }
  .footerTitle {
    margin-top: 1rem;
  }
}