/* #main {
  background-image: url("../../Images/calendar.jpg");
  height: 100vh;
  padding: 0px 24px;
  background-size: cover;
  background-position: center;
} */
/* 
#jumbo {
  width: 60%;
  margin: 8rem auto 8rem;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
} */
